//2 buttons only
//check
//again

button {
    width: 15ch;
    height: 6vh;
    font-size: 1.5rem;
    border-radius: 5px;
    border-style: none;
    &:hover {
        transform: scale(1.5);
    }
}
input {
    width: 20ch;
    height: 8vh;
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    border-style: none;
}
